.container {
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.box {
    display: inline-block;
    width: 300px;
    height: 300px;
    padding-top: 20px;
    margin: 2px;

}


/*.container{
    border: 1px solid black;
    margin: 10px;

}
*/
#caja1 {
    border: 2px solid blue;
}

#caja2 {
    border: 2px solid green;
}

#caja3 {
    border: 2px solid yellow;
}

.descuento {
    font-size: 22px;
}

.docu {
    color: gray;
    font-size: 18px;
}

.totalAPagar {
    width: 70%;
    background-color: rgb(7, 231, 231);
    display: block;
    margin: auto;
    height: 50px;
    padding-top: 10px;
    padding-left: 30px;
    border-radius: 5px;
}

.btn-success {
    background-color: rgb(85, 248, 44);
    border-color: rgb(85, 248, 44);
}

.container2 {
    width: 70%;
    text-align: center;
    margin: auto;
    margin-top: 30px;
}